/* @media screen and (min-width: 576px) {
} */
@media screen and (min-width: 991px) {
  .header_nav {
    display: -ms-grid !important;
    display: grid !important;
  }
}
@media screen and (max-width: 1440px) {
  .idea__wrapper::after {
    height: 900px;
    width: 1100px;
    top: -50px;
    right: -60px;
  }
}
@media screen and (max-width: 1400px) {
  .why__items .why__card:nth-of-type(odd) {
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
  }
}
@media screen and (max-width: 1200px) {
  .hero_wrapper {
    height: 540px;
  }
  .cotntact__header h2,
  .faq__wrapper h2,
  .course__thumb h4,
  .courses__wrapper h2,
  .classes__items h2,
  .why__header h2,
  .idea_card_content h2,
  .idea__header h2,
  .hero__title {
    font-size: 42px;
  }
  .idea__header {
    height: 350px;
    width: 100%;
    border-radius: 25px;
  }
  .idea__wrapper::after {
    height: 800px;
    width: 1100px;
    top: -50px;
    right: -60px;
  }
  .idea_card_content p {
    font-size: 16px;
    line-height: 35px;
    padding-bottom: 25px;
  }
  .why__card {
    border-radius: 40px;
    max-width: 240px;
  }
  .card_text {
    padding: 20px;
  }
  .card_text p {
    font-size: 16px;
  }
  .class__boxText {
    padding: 30px 25px;
    border-radius: 30px;
    bottom: -70px;
  }
  .boxTwo__boxText p,
  .class__boxText p {
    font-size: 18px;
    line-height: 35px;
  }
  .classes__rocket img {
    max-width: 400px;
  }
  .course__thumb {
    border-radius: 20px 20px 0 0;
    min-height: 200px;
  }
  .course__text-footer h4,
  .course__text h3 {
    font-size: 20px;
  }
  .course__text-footer {
    padding-top: 15px;
  }
  .faq__wrapper h2 {
    padding-bottom: 20px;
  }
  .contact__wrapper::after {
    right: -80px;
    top: -100px;
    content: "";
    height: 350px;
    width: 350px;
  }
  .contact__body form .single__submit button {
    font-size: 18px;
  }
}
@media screen and (max-width: 991px) {
  .header__area {
    position: relative;
  }
  .header_nav {
    top: 80px;
    left: 0;
    position: absolute;
    width: 100%;
    height: auto;
    padding: 30px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: none;
  }
  .main_menu {
    row-gap: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header_action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 25px;
  }
  .mobile__bar {
    display: block;
  }
  .header__area {
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .idea__wrapper::after {
    height: 630px;
    width: 1100px;
    top: 70px;
    right: -60px;
  }
  .cotntact__header h2,
  .faq__wrapper h2,
  .course__thumb h4,
  .courses__wrapper h2,
  .classes__items h2,
  .why__header h2,
  .idea_card_content h2,
  .idea__header h2,
  .hero__title {
    font-size: 38px;
  }
  .primary_btn {
    font-size: 16px;
  }
  .boxTwo__boxText p,
  .class__boxText p {
    font-size: 16px;
    line-height: 30px;
  }
  .courses__items {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
  }
  .moto__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .moto__header .moto_dis {
    font-size: 16px;
    line-height: 28px;
  }
  .contact__body .from_input {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    row-gap: 30px;
    padding: 40px 132px 0;
  }
  .contact__wrapper::after {
    right: -68px;
    top: -60px;
    content: "";
    height: 250px;
    width: 250px;
  }
  .contact__body form .single__submit button {
    font-size: 16px;
  }
  .contact__body form .single__submit {
    margin-top: 50px;
  }
  .why__items .why__card:nth-of-type(odd) {
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@media screen and (max-width: 767px) {
  .class__boxText {
    position: inherit;
    max-width: 100%;
    padding: 20px 30px;
    border-radius: 30px;
    bottom: 0;
  }
  .classes__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 30px;
    position: relative;
  }
  .cotntact__header h2,
  .faq__wrapper h2,
  .course__thumb h4,
  .courses__wrapper h2,
  .classes__items h2,
  .why__header h2,
  .idea_card_content h2,
  .idea__header h2,
  .hero__title {
    font-size: 32px;
  }
  .idea__wrapper::after {
    height: 450px;
    top: 136px;
    right: -60px;
  }
  .idea_card {
    padding-top: 55px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.4fr 1fr;
    grid-template-columns: 1.4fr 1fr;
    position: relative;
    z-index: 99;
  }
  .why__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .why__header p {
    color: #251d68;
    font-size: 14px;
    max-width: 340px;
    padding-top: 20px;
    text-align: center;
  }
  .boxTwo__boxText {
    position: inherit;
    bottom: -70px;
    right: 0;
    width: 100%;
    z-index: 9;
  }
  .boxTwo__items {
    display: block;
  }
  .boxTwo__illustration,
  .classes__illustration {
    border-radius: 30px;
    min-height: 100%;
  }
  .classes__rocket {
    -webkit-transform: rotate(-20deg) translateY(0);
    -ms-transform: rotate(-20deg) translateY(0);
    transform: rotate(-20deg) translateY(0);
    max-width: 350px;
    width: 100%;
    position: absolute;
    top: -80px;
    right: -80px;
  }
  .boxTwo__boxText::before {
    display: none;
  }
  .courses {
    padding-top: 80px;
  }
  .cotntact__header p {
    font-size: 16px;
  }
  .contact__wrapper::after {
    right: -86px;
    top: -105px;
    content: "";
    height: 250px;
    width: 250px;
  }
  .contact__body .from_input {
    padding: 40px;
  }
  .contact__body form .single__submit {
    margin-top: 10px;
  }
  .faq__title h3 {
    font-size: 18px;
  }
  .fixed__reting h2 {
    font-size: 30px;
    padding-top: 60px;
    padding-bottom: 10px;
  }
  .review__counter h3 span {
    font-size: 30px;
  }
  .revies__counter_star span i {
    font-size: 20px;
  }
  .review__counter p {
    font-size: 15px;
  }
  .fixed__reting::after {
    height: 150px;
    top: 5px;
    right: -23px;
  }

  .reviews__ratings span i {
    font-size: 20px;
  }
  .reviews__ratings {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .reviews__card {
    padding: 20px;
  }
  .reviews__text p {
    padding: 0px 0;
    line-height: 170.756%;
  }
  .reviews__card.active .reviews__text {
    padding: 15px 0px 20px 0px;
  }
  .reviews__profile {
    -webkit-column-gap: 7px;
    -moz-column-gap: 7px;
    column-gap: 7px;
  }
  .profile__thumb {
    height: 60px;
    width: 60px;
  }
  .reviews {
    padding: 70px 0;
    padding-bottom: 0;
  }
  .classes__items h2 {
    text-align: center;
  }
  .btn--messenger {
    font-size: 12px;
  }
}
@media screen and (max-width: 576px) {
  .contact__body .from_input {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .moto__header h2,
  .cotntact__header h2,
  .faq__wrapper h2,
  .course__thumb h4,
  .courses__wrapper h2,
  .classes__items h2,
  .why__header h2,
  .idea_card_content h2,
  .idea__header h2,
  .hero__title {
    font-size: 30px;
  }
  .idea__header h2 {
    padding-left: 20px;
  }
  .idea__wrapper::after {
    height: 450px;
    top: -20px;
    right: -60px;
  }
  .idea_card {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .courses__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .faq__title h3 {
    font-size: 16px;
  }
  .faq__body p {
    font-size: 15px;
    line-height: 1.4;
  }
  .faq__body {
    padding-top: 0px;
    display: none;
  }
  .faq__title {
    padding: 0px 10px;
    margin: 0;
    cursor: pointer;
  }
  .moto__header .moto_dis {
    font-size: 15px;
    padding-top: 15px;
  }
  .courses__card {
    margin: 0 auto;
    max-width: 100%;
  }
  .profile__thumb {
    height: 50px;
    width: 50px;
  }
  .reviews {
    padding: 50px 0;
    padding-bottom: 0;
  }
  .classes {
    padding: 60px 0;
  }
}

@media screen and (max-width: 533px) {
  .why__header {
    padding-bottom: 55px;
  }
  .why__items {
    grid-gap: 20px;
    padding-top: 0px;
  }
  .why__card {
    max-width: 100%;
    text-align: center;
  }
  .why__items .why__card:nth-of-type(odd) {
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
  }
}
